.btn-addConnection {
    margin-top: 10px;
}

.otp {
    font-size: 110%;
    margin-left: 10px;
    color: orangered;
    font-family: 'Roboto Mono';
}

.caption {
    font-size:80%;
}

.separator {
    text-align: center;
}

.btn-addSelfie {
    margin-top: 5px;
}