.post-button {
    margin-top: 20px;
}

.usable-hashtags {
    margin-right: 5px;
    background-color: white;
    color: mediumblue;
    padding-top: 5px;
    font-size: 100%;
    font-stretch: expanded;
}