.card-post {
    margin: 10px;
}

.card-header-post {
    height: 30px;
    padding: 5px;
}

.card-post-footer {
    padding-left: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    vertical-align: middle;
    background-color: white;
}

.like-switch {
    display: inline-block;
    width: 40px;
    height: 10px;
}

.newsfeed-picture {
    image-orientation: from-image;
}

.like-switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

input:checked + .icon-liked {
    color: orangered;
}

.post-content {
    font-size: 90%;
    font-family: 'Roboto';
}

.post-author {
    vertical-align: middle;
    font-weight: bold;
    font-family: 'Roboto';
    color: dodgerblue;
}

.card-post-body {
    padding: 0.50rem;
}

.post-timestamp {
    color: grey;
    font-weight: lighter;
    font-size: 80%;
}

.icon-deletepost {
    position: relative;
    padding-left: 10px;
    font-size: 165%;
}